*::selection{
    background-color: rgb(226, 0, 30);
    color: white;
}
.card-warning{
    background: yellowgreen ;
}
.sidebar-dark-primary {
    background:  inherit;
    background: brightness(120%);
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: inherit;

}
.nav-sidebar>.nav-item>.nav-treeview .nav-link{
    border: 1px solid white;
    background-color: inherit;
    border-radius: 0%;
}
.table th {
    background-color: rgb(214, 217, 240);
    color: rgb(0, 0, 0);
    padding: 0.7rem;
}
.table td {
    padding: 0.2rem;
    padding-left: 0.8rem;
    /* text-align: center; */
}
.sticky-top {

    position: sticky;
    top: 0;
}
.box {
    color: black;
    text-decoration: none;
}
.info-box:hover,
.info-box-text:hover {
    color: white;
    background: rgb(45, 45, 151);
}
.dashboard_icon_color {
    color: rgb(255, 255, 255)
}
.nav-dev{
    background: rgb(7, 3, 51);
}
.nav-item a{
    color: white;
}
.custom-form-control{
    padding: 1px;
    padding-left:5px ;
    height: auto;
}.custom-form-group{
    margin-bottom: 10px;
}
#custom-file-input,#custom-file-label,#custom-file-label::after{
    height: auto ;
    padding: 1px;
    line-height: normal;
    padding-left:5px ;
}

#animatedBox {
    border: 5px solid rgb(6, 122, 255);
    box-shadow: 0 0 50px rgb(6, 122, 255);
    transition: border-color 7s ease, box-shadow 7s ease;
    border-radius: 5px;

}

/* For webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scroll bar */
    /* Color of the thumb and track */
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    background: #dfdfdf;
    /* Background color of the track */
    scrollbar-color: #2600fd #f1f1f1;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    background: #2600fd;
    /* Color of the scroll bar thumb */
}

/* For Firefox */
/* Note: Firefox supports a different set of properties */
/* You may need to use vendor prefixes for older versions */
/* Width of the scroll bar */
@media (max-width: 767.98px) {
    .border-right {
        border-right: none !important;
    }
}
