*::selection{
    background-color: rgb(226, 0, 30);
    color: white;
}
.card-warning{
    background: yellowgreen ;
}
.sidebar-dark-primary {
    background:  inherit;
    background: brightness(120%);
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: inherit;

}
.nav-sidebar>.nav-item>.nav-treeview .nav-link{
    border: 1px solid white;
    background-color: inherit;
    border-radius: 0%;
}

.table th {
    background-color: rgb(214, 217, 240);
    color: rgb(0, 0, 0);
    padding: 0.7rem;
}

.table td {
    padding: 0.2rem;
    padding-left: 0.8rem;
    /* text-align: center; */
}

.sticky-top {

    position: sticky;
    top: 0;
}

.box {
    color: black;
    text-decoration: none;
}

.info-box:hover,
.info-box-text:hover {
    color: white;
    background: rgb(45, 45, 151);
}

.dashboard_icon_color {
    color: rgb(255, 255, 255)
}
.nav-dev{
    background: rgb(7, 3, 51);
}
.nav-item a{
    color: white;
}

@media (max-width: 767.98px) {
    .border-right {
        border-right: none !important;
    }
}
